<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID:</label>
    <input id="id" formControlName="ID" type="id">
  </div>
  <div>
    <label for="userNo">User No:</label>
    <input id="userNo" formControlName="userNo" type="text">
  </div>
  <div>
    <label for="fullName">Full Name:</label>
    <input id="fullName" formControlName="fullName" type="text">
  </div>
  <div>
    <label for="hireDate">Hire Date:</label>
    <input id="hireDate" formControlName="hireDate" type="date">
  </div>
  <div>
    <label for="positionName">Position Name:</label>
    <input id="positionName" formControlName="positionName" type="text">
  </div>
  <button type="submit">Add User</button>
</form>
