
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #007bff, #888888);
  font-family: "Raleway", sans-serif;
}
.center{
  position: absolute;
  top: 30%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.center button{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #0056b3;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.popup{
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: aqua;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms,
  opacity 200ms ease-in-out 0ms,
  transform 20ms ease-in-out 0ms;

}
.popup.active{
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
  opacity 200ms ease-in-out 0ms,
  transform 20ms ease-in-out 0ms;
}
.popup .close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #aaaaaa;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.popup .form h2{
  text-align: center;
  color: #0056b3;
  margin: 10px 0px 20px ;
  font-size: 25px;
}
.popup .form .form-element{
  margin: 15px 0px;
}
.popup .form .form-element label{
  font-size: 16px;
  color: aquamarine;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"]{
  margin-right: 5px;
}
.popup .form .form-element button{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: aquamarine;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}
.popup .form .form-element a{
  display: block;
  text-align: right;
  font-size: 14px;
  color: #888888;
  text-decoration: none;
  font-weight: 600;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.icon-container, h2 {
  display: inline-block;
  vertical-align: middle;
}

.icon-container {
  font-size: 40px;
  margin-right: 10px;
}

.icon-container2 {
  font-size: 40px;
  margin-right: 10px;
}

h2 {
  font-size: 24px;
}

form {
  display: grid;
  grid-gap: 20px;
}

label {
  font-weight: bold;
}
input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.submit-btn{
  text-align: center;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #74C0FC;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #74C0FC;
}

.add-icon {
  font-size: 24px;
  margin-right: 5px;
}

.title-text {
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  display: inline-block;
}

.title-text {
  font-weight: bold;
}

.title-text-position{
  position: absolute;
  top: 3%;
  left: 38.5%;
  transform: translate(-28%, 31%);
  text-align: center;

}

.green-label {
  color: #cccccc;
}

.centered-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.green-label {
  color: #cccccc;
}

/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, th, td, form, fieldset, legend, input, textarea, button {
  margin: 0;
  padding: 40px;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.w3-top {
  position: fixed;
  width: 100%;
  top: 0;
}

.w3-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  color: #1a1d9e;
  padding: 15px 0;
  text-align: center; /
}

.w3-bar-item {
  padding: 15px;
  text-decoration: none;
  display: inline-block;
}

.w3-hide-medium, .w3-hide-large {
  display: none;
}

@media only screen and (max-width: 768px) {
  .w3-hide-medium {
    display: block;
  }
  .w3-bar-item, .w3-right {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .w3-hide-small {
    display: none;
  }
  .w3-bar-item, .w3-right {
    display: none;
  }
}

#userList {
  text-align: center;
  margin: 50px auto;
  padding: 30px;
}

body {
  background-image: url('/static/image_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#userList h2 {
  max-width: 800px;
  margin-bottom: 20px;
}

table {
  width: 95%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
}

th {
  text-align: left;
}

h2#addPositionHeading {
  text-align: center;
  margin-top: 50px;
  color: #333333;
}


.centered-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  z-index: -1;
}

.cover {object-fit: cover;}

.img-u {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.w3-right-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.w3-right-container .w3-bar-item {
  margin-left: 10px;
}






